h1{
    text-align: left;
    color: rgb(54, 53, 73);
}
.team, .clearfix{
    /*background-image: url(imgonline-com-ua-Mirror-5iaDl1dAFo2OWVo.png);
   background-size: cover;*/
   background-image: linear-gradient(to right, #ddebf8, #fff);
   
}

.card p{
    text-align: center;
}

.speakerItem{
    list-style: none ;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
   /* border: solid 1px black;*/  
}
.speakerItem li{
    position: relative;
    margin: 0px 0px 0px 2rem;
    padding: 0px 0px 0px 0px;
    line-height: 3rem;    
    font-size: 15pt; 
 }
.speakerItem li:before{
    content: '';
    position: absolute; top: 16px; left: -2rem;
    background: url('79922-check-list.png') no-repeat 0 0;
    width: 20px;
    height: 20px;
    background-size: cover;
}
.viktoria{
    height: 28rem;
    width: 22rem;
}
.alla{
    height: 30rem;
    width: 25rem;
}
.alexander{
    height: 30rem;
    width: 26rem; 
}
.roma{
    height: 25rem;
    width: 30rem; 
}
.img_d{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.photo{
    float: right;
    display: block;
    box-sizing: border-box;
   margin-bottom: 2rem;
   border-radius: 50px;
 }
 .h1_sert{
text-align: center;
 }
.carus img{
    height: 46rem;
  }

.containerd{
    margin-left: auto;
    margin-right: auto;
    height: 51rem;
    width: 36rem; 
}

@media only screen and (max-width: 992px) and (min-width: 768px){
    .speakerItem{
        width: 16rem; 
    }
}

@media only screen and (max-width: 768px){
    .photo{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-sizing: border-box;
       margin-bottom: 2rem;
       border-radius: 50px;
     }
}
@media only screen and (max-width: 450px){
    .viktoria{
        height: 23rem;
        width: 18rem;
    }
    .roma{
        height: 20rem;
        width: 24rem; 
    }
    .alla{
        height: 24rem;
        width: 21rem;
    }
    .alexander{
        height: 24rem;
        width: 21rem; 
    }
    .roma{
        height: 18rem;
        width: 22rem; 
    }
    .carus img{
        height: 35rem;
      }
    .containerd{
        margin-left: auto;
        margin-right: auto;
        height: 40rem;
        width: 36rem; 
    }
     

}
