@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    max-width: 100%;
}
html {
    overflow-x: hidden;  

}
.viber{
    width: 3rem;
    height: 3rem;
}
.whatsapp{
    width: 3rem;
    height: 3rem;
}

nav{
    /*box-shadow: 0 3px 4px 2px rgba(201, 201, 201, 0.35);*/
    background-color: #FFFFFF
}

p, a, span, h1{
    font-family: "Roboto", serif;
}

.instagram{
    width: 6rem;
    height: 5rem;
}

footer{
    background-color: rgba(46, 46, 46, 1);
    
}

.card_footer a{
    color: white;
}
.card_footer{
    margin-left: auto; 
    margin-right: auto;
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(46, 46, 46, 1);
}
.foot{
    
    padding-bottom: 0px;
}
.map{
    width: 80vw;
    height: 60vh;
    margin-left: auto; 
    margin-right: auto;
 }
 
 iframe{
     border: none !important;
     width: 80vw;
     height: 60vh;
 }
 .contacts{
    background-image: linear-gradient(to right, #dddcdc, #fff);
}

.sm_map{
    width:100%;
}
.contact{
text-align: center;
}
.contacts_tel{
    text-align: center;
}

.contacts_addres{
    text-align: center;
}
.contacts_bus{
    text-align: center;

}
.block_2{
    background-image: linear-gradient(to right,  #003366, #005db9);
}
.text_block_2{
   color: rgb(251, 248, 242);
    padding: 20px;
    list-style: none ;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
   /* border: solid 1px black;*/  
}
/*
.text_block_2 li{
    position: relative;
    margin: 0px 0px 0px 2rem;
    padding: 24px 0px 0px 0px;
    line-height: 2rem;    
    font-size: 15pt; 
 }
 .text_block_2 li:before{
    content: '';
    position: absolute; top: 33px; left: -2rem;
    background: url('tooth-dimensional-pattern-vector-white-teeth-elements-removebg-previ1ew.png') no-repeat 0 0;
    width: 20px;
    height: 20px;
    background-size: cover;
}*/

.opisanie{
    color: white;
    font-size: 16pt;
}

