.details_services_plus, .details_services_minus {
    text-align: left;
    font-size: 14pt;
    color:rgb(230, 230, 230);
}
.details_services_plus:before{
    background-color: #008d13;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.details_services_minus:before{
    background-color: #830000;
    color: #fff;
    content: "\2212";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.service{
    /*background-image: url(blue-gradient1.jpg);
    background-size: cover;*/
    background-image: linear-gradient(to right,  #326ba5, #005db9);
}
/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}
/* вид текста label */
.hide + label {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: rgb(253, 216, 216);
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 30px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: -8px;
    padding: 10px;
    font-size: 13pt;
    /* чуточку анимации при появлении */
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }   
}
.hide + label:before {
    background-color: #1e90ff;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";

}

.opisanie{
    color: white;
    font-size: 16pt;
}
.viber{
    width: 3rem;
    height: 3rem;
}
.whatsapp{
    width: 3rem;
    height: 3rem;
}
